BESZEL_BASE_URL=http://YOUR_NAS_IP:8090
BESZEL_EMAIL=
BESZEL_PASSWORD=
BESZEL_SYSTEM_NAMES=
BESZEL_SYSTEM_IDS=
BESZEL_HISTORY_MINUTES=30
BESZEL_RECORD_TYPE=1m
DISPLAY_CHART_MINUTES=1440
EPAPER_FONT_PATH=/fonts/comic.ttf
APP_HOST=0.0.0.0
APP_PORT=15001
